.summary-container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1em;
}

.summary-container h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.summary-item:last-child {
  border-bottom: none;
}

.summary-label {
  font-weight: bold;
  color: #e0e0e0;
}
